<!-- menu -->

<ion-grid *ngIf="!action" class="ion-align-items-center ion-justify-content-center">
  <ion-row *ngIf="!displayQRCode" class="ion-justify-content-center">
    <ion-button (click)="onQRCode()">
      <ion-label>QRCode</ion-label>
    </ion-button>
  </ion-row>

  <ion-row *ngIf="!displayQRCode">
    <ion-col class="ion-justify-content-center">

      <!-- formulaire -->

      <form [formGroup]="form" (submit)="onSubmit()">

        <!-- bordereau -->

        <ion-item lines="full">
          <ion-label position="floating">Numéro de bordereau :</ion-label>
          <ion-input type="number" formControlName="bordereau">
          </ion-input>
        </ion-item>

        <!-- bouton -->

        <ion-row>
          <ion-col class="ion-justify-content-center">
            <ion-button type="submit" color="primary">SAISIE MANUELLE</ion-button>
          </ion-col>
        </ion-row>

      </form>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- QRCode -->

<ion-row>
  <ion-col>
    <app-qrcode *ngIf="displayQRCode" (resultat)="onResult($event)"></app-qrcode>
  </ion-col>
</ion-row>

<!-- saisie manuelle -->

<ion-row>
  <ion-col>
    <app-saisie-manuelle *ngIf="displaySaisie" (resultat)="onResult($event)"></app-saisie-manuelle>
  </ion-col>
</ion-row>