<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mes-scans">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Mes Scans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="last-scan">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Dernier Scan</ion-label>
    </ion-tab-button>


    <ion-tab-button *ngIf="!auth.isLogged" tab="login">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="auth.isLogged" (click)="auth.logout()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>