<ion-row>
  <div>
    <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="#FF5E1A" (click)="clearPad()">
            <ion-label>effacer</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" (click)="savePad()">
            <ion-label>Enregistrer</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-row>