<ion-card>
  <ion-card-header class="ion-align-items-start">
    <ion-card-subtitle>
      {{recherche.setType(courrier.type)}}
    </ion-card-subtitle>
    <ion-card-subtitle>
      Bordereau n°
      <ion-card-title>
        {{courrier.bordereau}}
      </ion-card-title>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div>
      <p>{{courrier.prenom | titlecase}} {{courrier.nom | titlecase}}</p>
      <p>{{courrier.adresse | titlecase}}</p>
      <p>{{courrier.complement | titlecase}}</p>
      <p>{{courrier.codePostal}} {{courrier.ville | titlecase}}</p>
    </div>
  </ion-card-content>
</ion-card>

<ion-grid class="statut">
  <ion-row class="ion-align-items-center">
    <ion-col class="date ion-text-center">
      {{courrier.date | date: 'dd/MM/YYYY'}} {{courrier.date | date: 'à hh:mm'}}
    </ion-col>
    <ion-col *ngIf="recherche.etats" class="ion-text-center">
      {{recherche.setEtat(courrier.etat) | uppercase}}
    </ion-col>
  </ion-row>
</ion-grid>