<ion-header>
  <ion-toolbar>
    <ion-title>
      <p align="center">Connexion</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="ion-justify-content-center ion-align-items-center">
    <ion-row lines="full">
      <ion-col>
        <div *ngIf="isLoading" class="loader"></div>
        <form *ngIf="!isLoading" class="ion-padding" [formGroup]="form" (ngSubmit)="onSubmit()" text-center>

          <div>

            <!-- email -->

            <ion-item lines="full">
              <ion-label position="floating">Email :</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <!-- password -->

            <ion-item lines="full">
              <ion-label position="floating">Mot de passe :</ion-label>
              <ion-input type="password" inputmode="numeric" formControlName="password"></ion-input>
            </ion-item>

          </div>

          <!-- boutons -->

          <ion-row>
            <ion-col class="ion-justify-content-center">
              <ion-button size="default" type="submit" color="primary">SE CONNECTER
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<!-- footer -->

<ion-footer>
  <img src="assets/img/logo-step-post.png" alt="logo step-post">
</ion-footer>