<!-- <ion-item>
  <div class="ion-justify-content-between">
    <div>
      <p color="orange">{{scan.date | date: "dd/MM/YYYY à hh:mm"}}</p>
    </div>
    <div>
      <p>Bordereau n° : {{scan.courrier.bordereau}}</p>
      <p>{{recherche.setType(scan.courrier.type)}}</p>
      <p *ngIf="recherche.etats">{{recherche.etats[scan.statutId - 1]}}</p>
    </div>
  </div>
</ion-item> -->

<!-- nouvelle maquette -->

<div class="ion-justify-content-center ion-align-items-center">
  <ion-card [ngStyle]="{backgroundColor: setCardBgColor(scan.statutId)}">
    <article class="ion-align-items-between">
      <div class="ion-no-padding">
        <p [ngStyle]="{color: setTextColor(scan.statutId)}" class="bordereau">Bordereau n°</p>
        <ion-text>
          <h2 [ngStyle]="{color: setTextColor(scan.statutId)}">{{scan.courrier.bordereau}} </h2>
        </ion-text>
      </div>
      <div>
        <p [ngStyle]="{color: setTextColor(scan.statutId)}">{{recherche.setType(scan.courrier.type) | titlecase}}</p>
        <p [ngStyle]="{color: setTextColor(scan.statutId)}">{{scan.date | date}}</p>
      </div>
    </article>
    <article class="etat">
      <div>
        <h5 [ngStyle]="{color: setTextColor(scan.statutId)}">{{recherche.etats[scan.statutId - 1] | titlecase}}</h5>
      </div>
    </article>
  </ion-card>
</div>