$orange: #FF5E1A;

ion-item {
    >div {
        width: 100%;
        display: flex;

        >div {
            width: 100%;

            >p {
                font-weight: bold;
            }
        }

        >div:first-child {
            >p:first-child {
                color: $orange;
            }
        }

        >div:last-child {
            font-size: .75em;
        }
    }
}