<ion-header>
  <ion-toolbar>
    <ion-fab *ngIf="displayQRCode" class="ion-padding" size="default" slot="start" (click)="onQRCode()">
      <ion-icon name="stop-circle-outline"></ion-icon>
    </ion-fab>
    <ion-title slot="end" class="ion-padding">Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="ion-justify-content-center ion-align-items-center">

    <!-- menu -->

    <ion-grid *ngIf="!action" class="ion-align-items-center ion-justify-content-center">
      <ion-row *ngIf="!displayQRCode" class="ion-justify-content-center">
        <ion-button (click)="onQRCode()">
          <ion-label>QRCode</ion-label>
        </ion-button>
      </ion-row>

      <ion-row *ngIf="!displayQRCode">
        <ion-col class="ion-justify-content-center">

          <!-- formulaire -->

          <form [formGroup]="form" (submit)="onSubmit()">

            <!-- bordereau -->

            <ion-item lines="full">
              <ion-label position="floating">Numéro de bordereau :</ion-label>
              <ion-input type="number" formControlName="bordereau">
              </ion-input>
            </ion-item>

            <!-- bouton -->

            <ion-row lines="full" class="ion-justify-content-center">
              <ion-button type="submit" color="primary">
                <ion-label>SAISIE MANUELLE</ion-label>
              </ion-button>
            </ion-row>

          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- QRCode -->

  <ion-row>
    <ion-col>
      <app-qrcode *ngIf="displayQRCode" (resultat)="onResult($event)"></app-qrcode>
    </ion-col>
  </ion-row>

</ion-content>