ion-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

ion-row {
    width: 100%;

    >ion-col {
        width: 100%;
        display: flex;

        >form {
            width: 100%;
        }
    }
}

ion-button {
    width: 50%;
}