.no-result {
    font-weight: bold;
}

ion-button {
    width: 50%;
}

ion-content {
    >ion-row {
        >ion-col {
            display: flex;
        }
    }
}

.no-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >p {
        font-weight: bold;
        font-size: 1.25em;
    }
}