<ion-row *ngFor="let etat of actionsList" lines="full">
    <ion-col *ngIf="!signaturePad" lines="full">
        <app-update-button *ngIf="etat.id !== 1" [etat]="etat" (action)="onUpdate($event)"
            (signaturePad)="onSignature()">
        </app-update-button>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-button expand="block" color="#FF5E1A" (click)="onAction()">
            <ion-label>retour</ion-label>
        </ion-button>
    </ion-col>
</ion-row>

<ion-row *ngIf="signaturePad" class="ion-justify-content-center">
    <app-signature [courrierId]="courrier.id" (retourSignature)="onRetourSignature($event)"></app-signature>
</ion-row>